C:\Users\grobinson\source\repos\HelixTroubleshooting\HelixTroubleshooting\Test
C:\Users\grobinson\source\repos\HelixTroubleshooting\HelixTroubleshooting\Dist
C:\Users\grobinson\source\repos\HelixTroubleshooting\HelixTroubleshooting\build